---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm';
---

<Layout>
    <main class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <LoginForm client:load />
    </main>
</Layout>

<style>
    main {
        width: 100%;
        height: 100vh;
    }
</style> 