---
import RegisterForm from '../components/RegisterForm';
import NavBar from '../components/NavBar';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Registro - OpenCRM</title>
  </head>
  <body>
    <NavBar client:load />
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
      <RegisterForm client:load />
    </div>
  </body>
</html> 