---
import { Sidebar } from '../components/dashboard/Sidebar';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dashboard - OpenCRM</title>
  </head>
  <body>
    <div class="flex h-screen">
      <Sidebar client:load />
      <slot />
    </div>
  </body>
</html> 